{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="pop-up-board pop-up-board-hidden pop-up-style descr-board">
    <div class="pop-up-title">
        Profile description
    </div>
    {{ user['description'] | raw }}
</div>

<div class="profile">
    <div class="profile-left">
        {% if user['path_to_user_image'] %}
            <div class="img-wrap">
                <img src="{{ media_img(user['path_to_user_image']) }}" alt="profile image">
            </div>
        {% else %}
            <div class="img-wrap">
                <img src="{{ static('img/default.jpeg') }}" alt="profile image">
            </div>
        {% endif %}
        <form method="post" id="subscription_form">
            <input type="hidden" name="is-sub">
            <input type="hidden" name="sub-profile-id" value="{{ user['id'] }}">
            {% if is_current_user_profile %}
            <button type="button" class="profile-left-btn plb-edit">
                <a class="plb-link" href="/profile/{{ user['username'] }}/edit">
                    <span>Edit</span>
                </a>
            </button>
            {% else %}
                {% if user_subscribed() %}
                    <button type="submit" id="profile-left-btn-sub" class="profile-left-btn plb-gray">
                        Subscribed
                    </button>
                {% else %}
                    <button type="submit" id="profile-left-btn-sub" class="profile-left-btn">
                        Subscribe
                    </button>
                {% endif %}
            {% endif %}
        </form>
    </div>
    <div class="profile-right">
        <span class="form-error" id="form-error">{{ error }}</span>
        <div class="name">
            {{ user['name'] }}
        </div>
        <div class="username">
            @{{ user['username'] }}
        </div>
        <div class="profile-info">
            <div class="profile-info-item">
                <div class="pii-value">
                    {{ subscribers }}
                </div>
                <div class="pii-name">
                    subscribers
                </div>
            </div>
            <div class="profile-info-item">
                <div class="pii-value">
                    23
                </div>
                <div class="pii-name">
                    post
                </div>
            </div>
        </div>
        <button class="profile-description" id="profile-description">
            <span class="profile-description-span">
            {{ user['description'] | raw }}
            </span>
        </button>
    </div>
</div>
{% for post in posts %}
<div class="post">
    <div class="post-user-image">
        {% if user['path_to_user_image'] %}
            <img src='{{ media_img(user["path_to_user_image"]) }}' alt="user image">
        {% else %}
            <img src='{{ static("img/default.jpeg") }}' alt="user image">
        {% endif %}
    </div>
    <div class="post-content">
        <div class="post-user-info">
            <a href="/profile/{{ user['username'] }}" class="pui-name">
                {{ user['name'] }}
            </a>
            <div class="pui-username">
                @{{ user['username'] }}
            </div>
            <div class="post-menu-wrap">
                <button class="post-menu-btn">
                    <img class="post-menu-btn-img" alt="post menu btn" src='{{ static("img/post_menu_icon.svg") }}'>
                </button>
                <span class="post-menu-board pop-up-board pop-up-board-hidden">
                    <a href="/edit-post/{{ post['id'] }}" class="post-menu-board-item">
                        Update
                    </a>
                    <button class="post-menu-board-item">
                        Delete
                    </button>
                </span>
            </div>
        </div>
        <button class="post-text-btn">
            <span class="post-text">
                {{ post['text'] | raw }}
            </span>
            {% if get_post_image(post['id']) %}
                <span class="post-images">
                    {% for img in get_post_image(post['id']) %}
                    <span class="post-image">
                        <img alt="post image" src='{{ media_img(img["image"]) }}'>
                    </span>
                    {% endfor %}
                </span>
            {% endif %}
        </button>
        <div class="post-info">
            <div class="post-interactions">
                <button class="post-interaction">
                    <img alt="post likes" src='{{ static("img/like.svg") }}'>
                    <span class="value">234</span>
                </button>
                <button class="post-interaction">
                    <img alt="post likes" src='{{ static("img/comments.svg") }}'>
                    <span class="value">74</span>
                </button>
            </div>
            <div class="publication-date">
                {{ post['date'] }}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}