{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="pop-up-board pop-up-board-hidden pop-up-style descr-board">
    <div class="pop-up-title">
        Profile description
    </div>
    It is a long established fact that a reader will be distracted by the readable content of a page when
    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
    letters, as opposed to using 'Content here, content here', making it look like readable English.
    It is a long established fact that a reader will be distracted by the readable content of a page when!!!!
    It is a long established fact that a reader will be distracted by the readable content of a page when!!!!
    It23434635546 is a long established fact that a reader will be distracted by the readable content of a page when!!!!
    It HELLO is a long established fact that a reader will be distracted by the readable content of a page when!!!!
    It HELLO is a long established fact that a reader will be distracted by the readable content of a page when!!!!
</div>

<div class="profile">
    <div class="profile-left">
        {% if user['path_to_user_image'] %}
            <div class="img-wrap">
                <img src="{{ user_img(user['path_to_user_image']) }}" alt="profile image">
            </div>
        {% else %}
            <div class="img-wrap">
                <img src="{{ static('img/default.jpeg') }}" alt="profile image">
            </div>
        {% endif %}
        {% if is_current_user_profile %}
            <button class="profile-left-btn plb-edit">
                <a class="plb-link" href="/profile/{{ user['username'] }}/edit">
                    <span>Edit</span>
                </a>
            </button>
        {% else %}
            <button class="profile-left-btn">
                Subscribe
            </button>
        {% endif %}
    </div>
    <div class="profile-right">
        <div class="name">
            {{ user['name'] }}
        </div>
        <div class="username">
            @{{ user['username'] }}
        </div>
        <div class="profile-info">
            <div class="profile-info-item">
                <div class="pii-value">
                    2354
                </div>
                <div class="pii-name">
                    subscribers
                </div>
            </div>
            <div class="profile-info-item">
                <div class="pii-value">
                    23
                </div>
                <div class="pii-name">
                    post
                </div>
            </div>
        </div>
        <button class="profile-description" id="profile-description">
            <span class="profile-description-span">
            {{ user['description'] }}
            </span>
        </button>
    </div>
</div>
<div class="post">
    <div class="post-user-image">
        <img src='{{ static("img/temp/1.jpeg") }}' alt="user image">
    </div>
    <div class="post-content">
        <div class="post-user-info">
            <a href="#" class="pui-name">
                User Usernamovich
            </a>
            <div class="pui-username">
                @uuuserrrname4850
            </div>
            <div class="post-menu-wrap">
                <button class="post-menu-btn">
                    <img class="post-menu-btn-img" alt="post menu btn" src='{{ static("img/post_menu_icon.svg") }}'>
                </button>
                <span class="post-menu-board pop-up-board pop-up-board-hidden">
                    <a href="#" class="post-menu-board-item">
                        Update
                    </a>
                    <button class="post-menu-board-item">
                        Delete
                    </button>
                </span>
            </div>
        </div>
        <button class="post-text-btn">
            <span class="post-text">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            </span>
        </button>
        <div class="post-info">
            <div class="post-interactions">
                <button class="post-interaction">
                    <img alt="post likes" src='{{ static("img/like.svg") }}'>
                    <span class="value">234</span>
                </button>
                <button class="post-interaction">
                    <img alt="post likes" src='{{ static("img/comments.svg") }}'>
                    <span class="value">74</span>
                </button>
            </div>
            <div class="publication-date">
                31/02/2023
            </div>
        </div>
    </div>
</div>
<div class="post">
    <div class="post-user-image">
        <img src='{{ static("img/temp/1.jpeg") }}' alt="user image">
    </div>
    <div class="post-content">
        <div class="post-user-info">
            <a href="#" class="pui-name">
                User Usernamovich
            </a>
            <div class="pui-username">
                @uuuserrrname4850
            </div>
            <div class="post-menu-wrap">
                <button class="post-menu-btn">
                    <img class="post-menu-btn-img" alt="post menu btn" src='{{ static("img/post_menu_icon.svg") }}'>
                </button>
                <span class="post-menu-board pop-up-board pop-up-board-hidden">
                    <a href="#" class="post-menu-board-item">
                        Update
                    </a>
                    <button class="post-menu-board-item">
                        Delete
                    </button>
                </span>
            </div>
        </div>
        <button class="post-text-btn">
            <span class="post-text">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            </span>
            <span class="post-images">
                <span class="post-image">
                    <img alt="post image" src='{{ static("img/temp/1.jpeg") }}'>
                </span>
                <span class="post-image">
                    <img alt="post image" src='{{ static("img/temp/2.jpeg") }}'>
                </span>
            </span>
        </button>
        <div class="post-info">
            <div class="post-interactions">
                <button class="post-interaction">
                    <img alt="post likes" src='{{ static("img/like.svg") }}'>
                    <span class="value">234</span>
                </button>
                <button class="post-interaction">
                    <img alt="post likes" src='{{ static("img/comments.svg") }}'>
                    <span class="value">74</span>
                </button>
            </div>
            <div class="publication-date">
                31/02/2023
            </div>
        </div>
    </div>
</div>
{% endblock %}