$primaryFontFamily: 'Montserrat', sans-serif;
$fontLato: 'Lato', sans-serif;
$defaultBg: #14171A;
$defaultBorder: 1px solid #5D6367;
$secondaryBgColor: #2C3033;
$secondaryFontColor: #5D6367;
$primaryFontColor: #F5F5F5;
$primaryRed: #E74C3C;