{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<form method="post" action="" class="create-post-content" enctype="multipart/form-data">
    {{ csrf_token() | raw }}
    <h1 class="content-title">
        Create post
    </h1>
    <span class="form-error">{{ error }}</span>
    <div class="input-fields">
        <div class="input-field">
            <label class="if-name" for="crt-p-text">Text</label>
            <textarea id="crt-p-text" name="crt-p-text"></textarea>
        </div>
        <div class="input-field">
            <label class="if-name" for="crt-p-images">Images</label>
            <input id="crt-p-images" type="file" multiple name="crt-p-images[]" alt="">
        </div>
    </div>
    <button type="submit" class="submit-fields-btn">
        <span>
            Save
        </span>
    </button>
</form>
{% endblock %}