{% extends "base.html" %}

{% block title %}Post edit{% endblock %}

{% block content %}
<div class="post">
  <div class="post-user-image">
    {% if user['path_to_user_image'] %}
      <img src='{{ media_img(user["path_to_user_image"]) }}' alt="user image">
    {% else %}
      <img src='{{ static("img/default.jpeg") }}' alt="user image">
    {% endif %}
    <img src='{{ static("img/default.jpeg") }}' alt="user image">
  </div>
  <div class="post-content">
    <div class="post-user-info">
      <a href="/profile/{{ user['username'] }}" class="pui-name">
        {{ user['name'] }}
      </a>
      <div class="pui-username">
        @{{ user['username'] }}
      </div>
      <div class="post-menu-wrap">
        <button class="post-menu-btn">
          <img class="post-menu-btn-img" alt="post menu btn" src='{{ static("img/post_menu_icon.svg") }}'>
        </button>
        <span class="post-menu-board pop-up-board pop-up-board-hidden">
          <a href="/edit-post/{{ post['id'] }}" class="post-menu-board-item">
            Update
          </a>
          <button class="post-menu-board-item">
            Delete
          </button>
        </span>
      </div>
    </div>
    <a href="/post/{{ post['id'] }}" class="post-text-btn">
      <span class="post-text post-text-post-view">
        {{ post['text'] | raw }}
      </span>
      {% if get_post_image(post['id']) %}
      <span class="post-images">
        {% for img in get_post_image(post['id']) %}
          <span class="post-image">
            <img alt="post image" src='{{ media_img(img["image"]) }}'>
          </span>
        {% endfor %}
      </span>
      {% endif %}
    </a>
    <div class="post-info">
      <form method="post" class="post-interactions post-like-form">
        <input type="hidden" name="post_like_id" value="{{ post['id'] }}">
        <button type="submit" class="post-interaction post-like-btn">
          {% if is_liked(user_g['id'], post['id']) %}
          <svg class="like-btn-svg" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="like-btn-path is-like" d="M14.7992 5.83342L14 6.65305L13.2008 5.83344C10.7147 3.28394 6.68399 3.28393 4.19791 5.83344C1.77859 8.31448 1.70426 12.3129 4.02959 14.8867L10.7103 22.2813C12.4851 24.2458 15.5149 24.2457 17.2897 22.2813L23.9704 14.8867C26.2958 12.3129 26.2214 8.31445 23.8021 5.83342C21.316 3.28392 17.2853 3.28392 14.7992 5.83342Z" stroke="#5D6367" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          {% else %}
          <svg class="like-btn-svg" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="like-btn-path" d="M14.7992 5.83342L14 6.65305L13.2008 5.83344C10.7147 3.28394 6.68399 3.28393 4.19791 5.83344C1.77859 8.31448 1.70426 12.3129 4.02959 14.8867L10.7103 22.2813C12.4851 24.2458 15.5149 24.2457 17.2897 22.2813L23.9704 14.8867C26.2958 12.3129 26.2214 8.31445 23.8021 5.83342C21.316 3.28392 17.2853 3.28392 14.7992 5.83342Z" stroke="#5D6367" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          {% endif %}
          <span class="value">{{ post_like_count(post['id']) }}</span>
        </button>
        <a href="/post/{{ post['id'] }}" class="post-interaction">
          <img alt="post comments" src='{{ static("img/comments.svg") }}'>
          <span class="value">{{ comments_count(post['id']) }}</span>
        </a>
      </form>
      <div class="publication-date">
        {{ post['date'] }}
      </div>
    </div>
  </div>
</div>

<span class="form-error">{{ error }}</span>
<form method="post" class="comment-form">
  <input type="hidden" id="answer_id" name="answer_id">
  <div class="input-field">
    <label class="if-name" for="comment-text-input">New comment</label>
    <div class="answer-name"></div>
    <textarea id="comment-text-input" name="comment-text-input"></textarea>
  </div>
  <button type="submit" class="send-comment-btn">Send</button>
</form>

<div class="comments">
  {% for comment in comments %}
  {% set post_user = get_post_user(comment['user_id']) %}
  <div class="comment">
    <div class="comment-info">
      <div class="comment-user-image">
        {% if post_user['path_to_user_image'] %}
        <img src="{{ media_img( post_user['path_to_user_image']) }}" alt="">
        {% else %}
        <img src="{{ static('img/default.jpeg') }}" alt="">
        {% endif %}
      </div>
      <div class="comment-content">
        <div class="comment-user">
          <a href="/profile/{{ post_user['username'] }}" class="cu-name">{{ post_user['name'] }}</a>
          <div class="cu-username">@{{ post_user['username'] }}</div>
        </div>
        <div class="comment-text">
          {{ comment['text'] | raw }}
        </div>
      </div>
    </div>
    <button data-comment-id="{{ comment['id'] }}" data-comment-username="{{ post_user['username'] }}" class="comment-answer-btn">Answer</button>
    <div class="comment-answers">
      {% for answer in get_answer_comments(comment['id']) %}
      {% set post_user = get_post_user(answer['user_id']) %}
        <div class="comment">
          <div class="comment-info">
            <div class="comment-user-image">
              {% if post_user['path_to_user_image'] %}
              <img src="{{ media_img( post_user['path_to_user_image']) }}" alt="">
              {% else %}
              <img src="{{ static('img/default.jpeg') }}" alt="">
              {% endif %}
            </div>
            <div class="comment-content">
              <div class="comment-user">
                <a href="/profile/{{ post_user['username'] }}" class="cu-name">{{ post_user['name'] }}</a>
                <div class="cu-username">@{{ post_user['username'] }}</div>
              </div>
              <div class="comment-text">
                {{ answer['text'] | raw }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}