{% for msg in messages %}
{% if msg['user'] == user_g['id'] %}

{% if loop.first %}
<div data-msg_id="{{ msg['id'] }}" data-chat_room_id="{{ msg['parent_chat'] }}" class="chat-message my-msg" id="chat-last-msg">
    {{ msg['text'] }}
</div>
{% else %}
<div class="chat-message my-msg">
    {{ msg['text'] }}
</div>
{% endif %}

{% else %}

{% if loop.first %}
<div data-msg_id="{{ msg['id'] }}" data-chat_room_id="{{ msg['parent_chat'] }}" class="chat-message chat-last-msg" id="chat-last-msg">
    {{ msg['text'] }}
</div>
{% else %}
<div class="chat-message">
    {{ msg['text'] }}
</div>
{% endif %}

{% endif %}
{% endfor %}