{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
{% include 'chat/create_chat.html' %}

<div class="pop-up-board pop-up-board-hidden pop-up-style descr-board">
    <div class="pop-up-title">
        Profile description
    </div>
    {{ user['description'] | raw }}
</div>

<div class="profile">
    <div class="profile-left">
        {% if user['path_to_user_image'] %}
            <div class="img-wrap">
                <img src="{{ media_img(user['path_to_user_image']) }}" alt="profile image">
            </div>
        {% else %}
            <div class="img-wrap">
                <img src="{{ static('img/default.jpeg') }}" alt="profile image">
            </div>
        {% endif %}
        <div class="profile-left-buttons">
            <form method="post" class="subscription_form">
                <input type="hidden" name="is-sub">
                <input type="hidden" name="sub-profile-id" value="{{ user['id'] }}">
                {% if is_current_user_profile %}
                <button type="button" class="profile-left-btn plb-edit">
                    <a class="plb-link" href="/profile/{{ user['username'] }}/edit">
                        <span>Edit</span>
                    </a>
                </button>
                {% else %}
                    {% if user_subscribed() %}
                    <button type="submit" id="profile-left-btn-sub" class="profile-left-btn plb-gray">
                        Subscribed
                    </button>
                    {% else %}
                    <button type="submit" id="profile-left-btn-sub" class="profile-left-btn">
                        Subscribe
                    </button>
                    {% endif %}
                {% endif %}
            </form>
            {% if not is_current_user_profile %}
                {% if is_new_chat_btn %}
                    <div class="profile-msg-form">
                        <button id="message_user" class="message_user"><img src="{{ static('img/msg.svg') }}" alt="msg"></button>
                    </div>
                {% else %}
                    <form class="profile-msg-form" method="post" action="/create-chat">
                        <input type="hidden" name="chat_user2_id" value="{{ user['id'] }}">
                        <input type="hidden" id="first_message" name="first_message" value="1">
                        <button type="submit" class="message_user"><img src="{{ static('img/msg.svg') }}" alt="msg"></button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="profile-right">
        <span class="form-error" id="form-error">{{ error }}</span>
        <div class="name">
            {{ user['name'] }}
        </div>
        <div class="username">
            @{{ user['username'] }}
        </div>
        <div class="profile-info">
            <div class="profile-info-item">
                <div class="pii-value">
                    {{ subscribers }}
                </div>
                <div class="pii-name">
                    subscribers
                </div>
            </div>
            <div class="profile-info-item">
                <div class="pii-value">
                    {{ post_count }}
                </div>
                <div class="pii-name">
                    post
                </div>
            </div>
        </div>
        <button class="profile-description" id="profile-description">
            <span class="profile-description-span">
            {{ user['description'] | raw }}
            </span>
        </button>
    </div>
</div>
{% include 'includes/post.html' %}
{% if not posts %}
<div class="posts-not-exist-msg">
    <img src="{{ static('img/no_posts.svg') }}" alt="not posts">
    <div class="posts-not-exist-msg-text">
        No posts found
    </div>
</div>
{% endif %}
{% endblock %}